<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>

<body>
    <div class="container">
        <div class="box">
            <h1>User {{user[0].id}}</h1>
            <a class="col" href="/">Home</a>
        </div>
        <div class="table">
            <div class="row">
                <h3>First Name:</h3>
                <p>{{ user[0].first_name }}</p>
            </div>
            <div class="row">
                <h3>Last Name:</h3>
                <p>{{ user[0].last_name }}</p>
            </div>
            <div class="row">
                <h3>Email :</h3>
                <p>{{ user[0].email }}</p>
            </div>
            <div class="row">
                <h3>Created At:</h3>
                <p>{{ user[0].created_at}}</p>
            </div>
            <div class="row">
                <h3>Updated At:</h3>
                <p>{{ user[0].updated_at}}</p>
            </div>
            <div class="row">
                <a href="/users/{{user_id}}/update">Edit</a>
                <a href="/users/{{user_id}}/destroy">Delete</a>
            </div>

        </div>
    </div>
</body>

</html>